*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f4f4;
}

.all{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

img{
    width: 50%;
    height: 50%;
}

h1{
    margin-top: -1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.line2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-top: -.25rem;
}

.button{
    width: 100px;
    height: 30px;
    background-color: rgb(11, 204, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 1rem;
}

a{
    color: rgb(243, 243, 243);
    background-color: rgb(11, 204, 11);
    text-decoration: none;
    font-size: 1.1rem;
    font-family: sans-serif;
}

.button:hover{
    background-color: rgb(7, 151, 7);
    cursor: pointer;
}

a:hover{
    background-color: rgb(7, 151, 7);
    cursor: pointer;
}
